.new-expense-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new-expense-controls label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.new-expense-controls input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.new-expense-actions {
  text-align: right;
  width: 50%;
  margin-top: 1rem;
}
.new-expense-actions .btn {
  border-radius: 6px;
}
